<%= render 'layouts/messages'%>

<%if @stock%>
    <div class="card-header">
        <p>Company Name: <%= @stock.name %></p> 
        <p>Ticker: <%= @stock.symbol %></p> 
        <p>$<%= @stock.last_price %></p> 
        <%= link_to  "Add Stock", user_stocks_path(user: current_user, symbol: @stock.symbol), class: "btn btn-xs btn-primary", method: :post %>
    </div>
<% end %>